@import "../../../styles/settings.scss";

.root {
  background-color: $productBox-background;
  border: 1px solid $productBox-border;
  display: flex;
  padding: 20px 0;

  .photo {
    position: relative;
    padding: 0;
    background: {
      size: contain;
      position: center;
      repeat: no-repeat;
    }
    overflow: hidden;
    align-items: flex-end;
    object-fit: cover;
    width: 35%;

    .sale {
      position: absolute;
      top: -30px;
      left: 50%;
      transform: translateX(-50%);
      background-color: $productBox-sale-background;
      border-radius: 50%;
      color: $productBox-sale-font-color;
      padding: 30px 15px 5px 15px;
    }

    img {
      height: 250px;
      object-fit: cover;
      width: 270px;
    }
  }

  .content {
    width: 70%;
    padding: 5px 30px;

    h5 {
      color: $productBox-content-font-color;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 1px;
    }

    .price {
      margin: 8px 0;
      font-weight: 600;

    }

    .stars {
      margin: 8px 0;
    }

    .text {
      width: 100%;
      font-size: 14px;
      margin: 10px 0;
      color: $dark-color-1;
      border-bottom: 1px solid $dark-color-1;
      padding: 0 0 20px 0;
    }

    .buttons {
      margin-top: 40px;

      .button {
        margin-right: 5px;
      }
    }
  }
}
