@import "../../../styles/settings.scss";
@import "../../../styles/bootstrap.scss";

.root {
  padding-top: 5rem;

  .arrows {
    display: flex;
  }
  
  .fadeIn {
    animation: fadeIn 1s;
  }
  
  .fadeOut {
    animation: fadeOut 1s;
  }
  
  .fadeInRight {
    animation: fadeIn 2s;
  }
  
  .fadeOutRight {
    animation: fadeOut 2s;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}

.heading {
  background-color: $footer-bg;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;

  h3 {
    color: $text-color-light;
    font-size: 18px;
    margin: 0;
  }
}

.dots {
  display: flex;

  ul {
    margin: 0;
    list-style: none;

    li {
      display: inline-block;
      margin-left: 0.5rem;

      a {
        display: block;
        width: 13px;
        height: 13px;
        border-radius: 6px;
        background-color: #e1e1e1;
        font-size: 0;

        &.active,
        &:hover {
          background-color: $creme-main;
        }
      }
    }
  }
}

.image {
  border: 1px solid red;
  width: 100%;
  height: 390px;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 576px) {
  .box {
    display: none;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .dots ul {
    padding: 0 !important;
  }
  .heading {
    padding: 2px 5px !important;
  }
}
