@import "../../../styles/settings.scss";

.root {
  p:nth-child(2) {
    font-size: 1.5rem;
    font-weight: 700;
  }

  .navLaptop, .navPhone, .review {
    border: 1px solid $form-border-color;
    color: $text-color;
  }

  .navLaptop {
    margin-top: 40px;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: none;

    div:first-child,
    div:nth-child(3) {
      line-height: 2.5rem;
      font-weight: bold;
      border-right: 1px solid $form-border-color;
      background: $background-light;
      text-align: center;
    }

    div:last-child {
      line-height: 2.5rem;
      font-weight: bold;
      background: $background-light;
      text-align: center;
    }
  }

  .navPhone {
    display: none;
  }

  .active {
    border-right: 1px solid $form-border-color;
    color: $creme-main;
    line-height: 2.5rem;
    font-weight: bold;
    text-align: center;
  }

  .stars {
    opacity: 0.5;
    text-align: center;
    justify-content: center;

    :nth-child(2) {
      margin-left: 20px;
    }

    :nth-child(6) {
      margin-right: 20px;
    }
  }

  .review {
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin-bottom: 40px;

    p {
      opacity: 0.7;
      text-align: center;
      margin: 10px 0;
    }
  }

  .reviewText {
    display: flex;
    flex-direction: column;

    p {
      text-align: left;
      opacity: 1;
    }
  }

  .continue {
    width: 100%;
    background-color: $text-color;
    border: none;
    line-height: 2.5rem;
    color: $text-color-light;
  }
}

@media (max-width: 767px) {
  .root {
    .navPhone {
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      div:first-child,
      div:nth-child(2),
      div:nth-child(3) {
        line-height: 2.5rem;
        font-weight: bold;
        border: none;
        border-right: 1px solid $form-border-color;
        border-bottom: 1px solid$form-border-color;
        background: $background-light;
        text-align: center;
      }

      div:nth-child(2) {
        border-right: none;
      }

      div:nth-child(3) {
        border-bottom: none;
      }
    }

    .navLaptop {
      display: none;
    }

    .active {
      border-bottom: none;
      border-right: none;
      color: $creme-main;
      line-height: 2.5rem;
      font-weight: bold;
      text-align: center;
    }

    button {
      margin-top: 20px;
    }
  }
}