@import "../../../styles/settings.scss";

.root {
  background-color: $productBox-background;
  border: 1px solid $productBox-border;
  margin-bottom: 2rem;

  .photo {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: {
      color: #f4f5f7;
      size: contain;
      position: center;
      repeat: no-repeat;
    }
    overflow: hidden;
    height: 300px;

    .img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    .buttons {
      display: flex;
      position: absolute;
      opacity: 0;
    }
    .counter{
      display: flex;
      position: absolute;
      bottom: 5px;
      opacity: 0;

      ul {
        list-style-type: none;
        display: inline-flex;
        margin: 0 auto;
        padding: 0;
        position: relative;


        li {
          height: 50px;
          padding: 5px;
          background-color: $footer-bg;
          border-radius: 50%;
          width: 50px;
          margin: 2px;
          opacity: 0.9;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;

          h6{
            color: $text-color-light;
            margin: 0;
            font-size: 18px;
          }
          p{
            color: $text-color-light;
            margin: 0 auto;
            font-size: 14px;
            text-transform: uppercase;
          }
        }
      }
    }
  }

  .content {
    text-align: center;
    padding: 20px;

    h5 {
      color: $creme-main;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 1px;
    }

    .stars {
      a {
        text-decoration: none;
        color: rgb(42, 42, 42);
      }
    }
  }

  .line {
    margin: 0 10px;
    border-bottom: 1px solid #2a2a2a;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 50%;
      width: 30px;
      border-bottom: 4px solid $creme-main;
      transform: translateX(-50%);
    }
  }

  .actions {
    padding: 15px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .price {
    display: flex;

    @media(max-width: 992px) {
      display: block;
    }

    .promoPrice {
      font-weight: 700;
      text-align: center;

      @media(max-width: 992px) {
        font-size: 11px;
        line-height: 1.4;
      }
    }
  }
  .price {
    background-color: black;
  }
}

.root:hover .buttons {
  opacity: 1;
}
.root:hover .counter {
  opacity: 1;
}

.root:hover .price {
  background-color: $creme-main;
}
@media (min-width: 577px) and (max-width: 768px) {
  .content {
    padding: 10px !important;
  }
}
